body {
    background-color: #D9D9D9;
}

h1 {
    text-shadow: 2px 2px 4px #292F33;
}

h1, h2, h3, h4 {
    font-family: Roboto, sans-serif;
}

h5, h6, p, li, a, label {
    font-family: "Open Sans", sans-serif;
}

p {
    margin-bottom: 8px;
}

img {
    width: 215px;
    margin-top: -120px;
    position: relative;
    z-index: 1;
    box-shadow: 2px 5px 5px #888888;
}

ul:not(.navbar-nav) {
    list-style-type: none;
    margin: 0 5px 5px 10px;
    padding: 3px 3px 0 3px;
}

li:not(.nav-item) {
    padding: 8px 3px;
    border-bottom: 1px solid #ccc;
}

li a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: font-size 0.3s; /* For Safari 3.1 to 6.0 */
    transition: font-size 0.3s;
}

.text-links li a:hover {
    text-decoration: none;
    font-size: 108%;
}

li:first-child:not(.nav-item) {
    margin-top: 0;
    padding-top: 0;
}

li:last-child:not(.nav-item) {
    padding-bottom: 4px;
    border-bottom: 0;
    margin-bottom: 0;
}

i {
    padding-right: 9px;
}

nav {
    background-color: rgba(0, 0, 0, 0.92);
}

.jumbotron {
    background-color: #292F33;
    color: white;
    padding: 5px 4px;
    padding-top: 3em;
    padding-bottom: 100px;

}

.container-fluid {
    max-width:1400px;
}

.text-links {
    margin-left: 0 !important;
}

.text-links li a {
    display: block;
}

.link {
    color: #B9B9B9;
    padding: 15px 8px;
}

.link:hover {
    color: #606060;
}

.btn {
    box-shadow: 1px 3px 10px #888888;
}

.card {
    border-radius:4px;
    -webkit-box-shadow: 2px 5px 5px #888888;
    box-shadow: 2px 5px 5px #888888;
    -webkit-transition: -webkit-box-shadow 0.4s, -webkit-transform 0.4s;
    transition: -webkit-box-shadow 0.4s, -webkit-transform 0.4s;
    -o-transition: box-shadow 0.4s, transform 0.4s;
    transition: box-shadow 0.4s, transform 0.4s;
    transition: box-shadow 0.4s, transform 0.4s, -webkit-box-shadow 0.4s, -webkit-transform 0.4s;
}

.card:hover {
    -webkit-box-shadow: 3px 8px 5px #888888;
    box-shadow: 3px 8px 5px #888888;
    -ms-transform: scale(1.018, 1.018); /* IE 9 */
    -webkit-transform: scale(1.018, 1.018); /* Safari */
    transform: scale(1.018, 1.018);
}

.card-header {
    background: #292F33;
    color: white;
    padding: 1.25rem 1.75rem;
}

.card-title {
    margin-bottom: 0;
}

#navbardrop:focus {
    background-color: #17a2b8;
}

.nav-pills .nav-link.active, .btn-info{
    background-color: #17a2b8;
}

.nav-item {
    padding: 0 5px;
}

.results {
    margin-top: 8px;
    margin-bottom: 2px;
}

.result-list {
    font-size: .9rem;
}

.date {
    padding: 3px;
    margin:0;
    font-size: .8rem;
}

#main-text {
    padding-top: 20px;
}

#top-card {
    padding-top: 80px;
    margin-top: -85px;
    max-width:900px;
    position: relative;
    z-index:0;
}

#contact-card {
    max-width:900px;
}

#links {
    float: right;
    margin-left: 15px;
}

#description {
    padding: 10px 0;
}

#myProgress {
    margin-top: 53px;
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 1%;
    height: 4px;
    background-color: #17a2b8;
}