body {
    background-color: #D9D9D9;
}

h1, h2, h3, h4 {
    font-family: Roboto, sans-serif;
    font-weight: 800;
}

h5, h6, p, li {
    font-family: "Open Sans", sans-serif;
}

p {
    margin-bottom: 8px;
}

ul {
    list-style-type: none;
    margin: 5px;
    margin-left: 10px;
    padding: 3px;
}

li {
    padding: 2.5px;
    font-weight: 500;
}

.container-fluid {
    max-width:1400px;
}

.link:hover {
    color: #B9B9B9;
}

.card {
    border-radius:4px;
    box-shadow: 2px 5px 5px #888888;
}

.card:hover {
    border-radius:4px;
    box-shadow: 3px 8px 5px #888888;
}

.card-img-top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.jumbotron {
    padding: 20px 15px;
    background-color:#292F33;
}

.fa-calendar-alt {
    margin-right:5px;
}

.logo-link {
    color: white;
}

.display-6 {
    display: inline;
    font-size: 1.8rem;
}

#links {
    float: right;
    margin-left: 15px;
}

#mod-padding {
    padding-left: 5px;
    padding-right: 5px;
}